p {
  font-size: larger; /* Console warning: Invalid property value */
  /* BUG FIXED -> larger was spelled wrong (largeer) to (larger) */
}

h1 {
  fontsize: 23xp;
  color: purple;
}

/* Spelling error did not match the name on index.html, was (contianer) changed to (container). */
.container {
  colro: red;
  width: 500px;
  height: 500px;
  /* background should be the same as #output */
  background-color: #f3SupeCoolColor;
}

#output {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  pudding: 10px;
  border: 1px solid #000;
  background-color: #f0f0f0;
}
